/* base */
body {
  margin: 0;
  font: 1.25rem/1.25 Arial, sans-serif;
  background-color: beige;
}

input {
  margin: 0;
}

h1 {
  text-align: center;
}

.main {
  padding: 2rem;
}

.mem {
  display: grid;
  grid-template-columns: auto 10wv;
  justify-content: space-between;

  padding: 1.25rem 0.6rem;
  border-top: 0.2rem solid #d3d3d3;
}

.mem-label { grid-area: 1 / 1 / 2 / 2; }
.mem-input{ grid-area: 1 / 2 / 2 / 3; }
.mem-img { grid-area: 2 / 1 / 3 / 3; }

.mem,
.mem-input,
.mem-label,
.mem-img {
  transition: all 0.5s ease-in;
}

.mem-input {
  justify-self: end;
  visibility: hidden;
}

.mem-label {
  font-size: 1.25em;
  font-weight: 700;
  color: royalblue;
}

.mem-img {
  margin: 0 auto;
  width: 35vw;
  height: 0;
  background-color: burlywood;
}

.mem:hover,
.mem-input,
.mem-label {
  cursor: pointer;
}

.accordion-container:hover .mem-input {
  visibility: visible;
}

.accordion-container:hover .mem-label,
.mem-input[type="radio"]:checked~.mem-label,
.mem-input[type="radio"]:checked~.mem-img {
  color: black;
}

.mem-input[type="radio"]:checked~.mem-img,
.mem:hover .mem-img {
  height: 35vw;
}

.mem:active {
  filter: opacity(50%);
}

.mem:active>.mem-label {
  color: royalblue;
}
