/* base */
html {
  font-size: 10px;
}

body {
  margin: 0;
  font: 2rem/1.25 Arial, sans-serif;
  background-color: beige;
}

input {
  margin: 0;
}

.main {
  padding: 35px;
}

.mem {
  padding: 20px 10px;
  border-top: 2px solid #d3d3d3;
}

.mem-label {
  font-size: 1.25em;
  font-weight: 700;
}

.mem-img {
  width: 35vw;
  height: 35vw;
  background-color: burlywood;
}
